# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
- List popular languages for Data Science.
- List popular data science tools for Data Science.
- List popular libraries for Data Science.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
-----------------------
| Apache Hadoop |
| Apache Hive |
|Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [3]:
min=200
hr=(min/60)
print(hr)

3.3333333333333335

## Author 
Manish Yadav